{% extends 'base.html' %}
{% load static bootstrap4 %}
{% block title %}Email Sent{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 150px;">
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
                    <div class="card-body">
                        {% include 'includes/messages/messages.html' %}
                       <h1 class="color-primary text-center">Check your inbox</h1>
                        <p class="text-center">We have emailed you instructions for resetting your password. You should receive the email shortly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
{% endblock %}