{% extends 'base.html' %}
{% load static bootstrap4 %}
{% block title %}Password reset complete{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 150px;">
        <div class="row justify-content-md-center">
            <div class="col-lg-7">
                <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
                    <div class="card-body">
                        {% include 'includes/messages/messages.html' %}
                       <h1 class="color-primary text-center">Password reset complete</h1>
                        <p class="text-center">Your new password has been set. You can log in now on the <a href="{% url 'login' %}">login</a> page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
{% endblock %}