{% extends 'base.html' %}
{% load static bootstrap4 %}
{% block title %}Enter new password{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 150px;">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
                    <div class="card-body">
                        {% include 'includes/messages/messages.html' %}
                        {% if validlink %}

                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                <h1 class="color-primary text-center">Create a new password</h1>

                                <fieldset>
                                    {% bootstrap_form form layout="horizontal" %}
                                </fieldset>
                                <button class="btn btn-raised btn-primary btn-block">Change my password <i
                                        class="zmdi zmdi-long-arrow-right no-mr ml-1"></i></button>
                            </form>
                        {% else %}
                            <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please
                                request a new password reset.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
{% endblock %}