{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="ms-hero-page-override ms-hero-img-team ms-hero-bg-primary">
        <div class="container">
            <div class="text-center">
                <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">
                    About</h1>
                <p class="lead lead-lg color-medium text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
                    Exploring the world, frame by frame, to unveil the beauty that lies within.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card card-hero animated slideInUp animation-delay-8 mb-6">
            <div class="card-body">
                <h2 class="color-primary">About Us</h2>
                <div class="row">
                    <div class="col-lg-12 text-justify">
                        <p>Welcome to my photography album website! As an enthusiast of both
                            programming and information technologies, I am thrilled to combine my passions and present
                            to you this platform powered by Python-Django. It serves as a dedicated space for the PLD
                            450 course, where I can showcase my photographic journey while also exploring the technical
                            aspects that drive this website.</p>
                        <p> With a strong foundation in programming, I have crafted
                            this platform to seamlessly integrate the artistry of photography with the intricacies of
                            technology. Through this amalgamation, I strive to offer a unique visual experience that
                            reflects my love for both disciplines. Join me on this exciting adventure as we embark on a
                            captivating exploration of the world through the lens, guided by the boundless possibilities
                            of programming and information technologies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}