{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 d-none d-lg-block">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="zmdi zmdi-filter-list"></i>Controls</h3>
                    </div>
                    <div class="card-body no-pb">
                        <form class="form-horizontal">
                            <div class="form-group mt-1">
                                <a href="{% url 'albums' %}" class="btn btn-block btn-raised btn-primary">Albums
                                    <div class="ripple-container"></div>
                                </a>
                                <a href="{% url 'upload_photograph' %}" class="btn btn-block btn-raised btn-primary">Upload
                                    Photographs
                                    <div class="ripple-container"></div>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" id="Container">
                    {% for photo in photographs %}
                        <div class="col-md-4 col-sm-6 mix category-1" style="display: inline-block;" data-bound="">
                            <div class="card width-auto">
                                <figure class="ms-thumbnail">
                                    <img src="{{ photo.photograph.url }}" alt="" class="img-fluid">
                                    <figcaption class="ms-thumbnail-caption text-center">
                                        <div class="ms-thumbnail-caption-content">
                                            <h4 class="ms-thumbnail-caption-title mb-2">{{ photo.title }}</h4>
                                            <a href="{% url 'photograph_details' photo.photograph_id %}"
                                               class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i
                                                    class="zmdi zmdi-eye"></i></a>
                                            <a href="{% url 'user_profile' photo.uploaded_by %}"
                                               class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-danger"><i
                                                    class="fa-solid fa-user"></i></a>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body overflow-hidden text-center portfolio-item-caption">
                                    <h3 class="color-primary no-mt">{{ photo.title }}</h3>
                                    <p>{{ photo.description }}</p>
                                </div>
                            </div>
                        </div> <!-- item -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}