{% extends 'base.html' %}
{% load static %}
{% block title %}Photographs{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 d-none d-lg-block">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="zmdi zmdi-cloud-upload"></i>Upload Photograph</h3>
                    </div>
                    <div class="card-body no-pb">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row is-empty">
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Title"/>
                                </div>
                            </div>
                            <div class="form-group row is-empty">
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" id="description" name="description" placeholder="Description"/>
                                </div>
                            </div>
                            <div class="form-group row is-empty is-fileinput">
                                <div class="col-lg-12">
                                    <input type="text" readonly="" class="form-control" placeholder="Browse for file...">
                                    <input type="file" id="photograph" name="photograph" multiple="">
                                </div>
                            </div>
                            <div class="form-group row is-empty">
                                <button type="submit" class="btn btn-primary full-width center-block ">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
            {% include 'includes/messages/messages.html' %}
                <div class="row" id="Container">

                    {% for photo in photographs %}
                        <div class="col-md-4 col-sm-6 mix category-1" style="display: inline-block;" data-bound="">
                            <div class="card width-auto">
                                <figure class="ms-thumbnail">
                                    <img src="{{ photo.photograph.url }}" alt="" class="img-fluid">
                                    <figcaption class="ms-thumbnail-caption text-center">
                                        <div class="ms-thumbnail-caption-content">
                                            <h4 class="ms-thumbnail-caption-title mb-2">{{ photo.title }}</h4>
                                            <a href="{% url 'photograph_details' photo.photograph_id %}"
                                               class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i
                                                    class="zmdi zmdi-eye"></i></a>
                                            <a href="{% url 'user_profile' photo.uploaded_by %}"
                                               class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-danger"><i
                                                    class="fa-solid fa-user"></i></a>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body overflow-hidden text-center portfolio-item-caption">
                                    <h3 class="color-primary no-mt">{{ photo.title }}</h3>
                                    <p>{{ photo.description }}</p>
                                </div>
                                <form method="POST" action="{% url 'add_to_album' photo.photograph_id %}">
                                    {% csrf_token %}
                                    {{ albumContent }}
                                    <button type="submit" name="AddToAlbum" class="btn btn-primary full-width">Add to album</button>
                                </form>

                            </div>
                        </div> <!-- item -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}