<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
    <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">
            <div class="ms-slidebar-login">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="withripple"><i class="fa-solid fa-person-walking-arrow-right"
                                                                       style="color: #ffffff"></i> Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="withripple"><i class="zmdi zmdi-account"></i> Login</a>
                    <a href="{% url 'sign_up' %}" class="withripple"><i class="zmdi zmdi-account-add"></i> Register</a>
                {% endif %}
            </div>
            <div class="ms-slidebar-title">
                <form class="search-form">
                    <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q"/>
                    <label for="search-box-slidebar"><i class="zmdi zmdi-search"></i></label>
                </form>
                <div class="ms-slidebar-t">
                    <span class="ms-logo ms-logo-sm">P</span>
                    <h3>PLD<span>450</span></h3>
                </div>
            </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
            <li class="card" role="tab" id="sch1">
                <a class="collapsed" role="button" href="{% url 'home' %}">
                    <i class="zmdi zmdi-home"></i> Home </a>
            </li>
            <li class="card" role="tab" id="sch2">
                <a class="collapsed" role="button" href="{% url 'about' %}">
                    <i class="fa-solid fa-newspaper"></i> About </a>
            </li>
            <li class="card" role="tab" id="sch3">
                <a class="collapsed" role="button" href="{% url 'photographers' %}">
                    <i class="fa-solid fa-users"></i> Photographers </a>
            </li>

        </ul>
    </div>
</div>