{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6 order-md-1">
                        <div class="card animated fadeInUp animation-delay-7">
                            <div class="ms-hero-bg-primary ms-hero-img-coffee">
                                {% if user.profile %}
                                    <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}"
                                         class="img-avatar-circle">
                                {% endif %}
                            </div>
                            <div class="card-body pt-4 text-center">
                                <h3 class="color-primary">{{ user.first_name }} {{ user.last_name }}</h3>
                                <p>{{ user.profile.bio }}</p>
                            </div>
                        {% if request.user.id == user.id %}
                            <a href="#" class="btn btn-primary full-width">Edit Profile</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-2"
                             style="visibility: visible; animation-name: zoomInUp;">
                            <h2 class="counter color-info">450</h2>
                            <i class="fa fa-4x fa-file-text color-info"></i>
                            <p class="mt-2 no-mb lead small-caps color-info">articles</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-5"
                             style="visibility: visible; animation-name: zoomInUp;">
                            <h2 class="counter color-success">64</h2>
                            <i class="fa fa-4x fa-briefcase color-success"></i>
                            <p class="mt-2 no-mb lead small-caps color-success">projects done</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-royal card-body overflow-hidden text-center wow zoomInUp animation-delay-4"
                             style="visibility: visible; animation-name: zoomInUp;">
                            <h2 class="counter color-royal">600</h2>
                            <i class="fa fa-4x fa-comments-o color-royal"></i>
                            <p class="mt-2 no-mb lead small-caps color-royal">comments</p>
                        </div>
                    </div>
                </div>
                <div class="card card-primary animated fadeInUp animation-delay-12">
                    <div class="card-header">
                        <h3 class="card-title"><i class="zmdi zmdi-account-circle"></i> General Information</h3>
                    </div>
                    <table class="table table-no-border table-striped">
                        <tbody>
                        <tr>
                            <th><i class="zmdi zmdi-account mr-1 color-success"></i> User Name</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th><i class="zmdi zmdi-face mr-1 color-warning"></i> Fullname</th>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <th><i class="zmdi zmdi-email mr-1 color-danger"></i> Email</th>
                            <td><a href="#">{{ user.email }}</a></td>
                        </tr>
                        <tr>
                            <th><i class="zmdi zmdi-calendar mr-1 color-royal"></i> Member Since</th>
                            <td>{{ user.date_joined|date }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="color-primary text-center mt-4 mb-2">Recent Activity</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="ms-timeline">
                            <li class="ms-timeline-item wow materialUp"
                                style="visibility: visible; animation-name: materialUp;">
                                <div class="ms-timeline-date">
                                    <time class="timeline-time" datetime="">2016 <span>March</span></time>
                                    <i class="ms-timeline-point bg-royal"></i>
                                    <img src="assets/img/demo/avatar6.jpg" class="ms-timeline-point-img">
                                </div>
                                <div class="card card-royal">
                                    <div class="card-header">
                                        <h3 class="card-title">Card Title</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="assets/img/demo/office1.jpg" alt="" class="img-fluid">
                                            </div>
                                            <div class="col-sm-8">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum,
                                                    praesentium, quam! Quia fugiat aperiam.</p>
                                                <p>Perspiciatis soluta voluptate dolore officiis libero repellat
                                                    cupiditate explicabo atque facere aliquam.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="ms-timeline-item wow materialUp"
                                style="visibility: visible; animation-name: materialUp;">
                                <div class="ms-timeline-date">
                                    <time class="timeline-time" datetime="">2015 <span>October</span></time>
                                    <i class="ms-timeline-point bg-info"></i>
                                </div>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Card Title</h3>
                                    </div>
                                    <div class="list-group">
                                        <a href="javascript:void(0)" class="list-group-item withripple"><i
                                                class="zmdi zmdi-favorite"></i>Cras justo odio <span
                                                class="badge badge-default pull-right">Active</span></a>
                                        <a href="javascript:void(0)" class="list-group-item withripple"><i
                                                class="zmdi zmdi-cocktail"></i> Dapibus ac facilisis in <span
                                                class="badge badge-primary pull-right">Other</span></a>
                                        <a href="javascript:void(0)" class="list-group-item withripple active"><i
                                                class="zmdi zmdi-cast"></i>Morbi leo risus <span
                                                class="badge badge-default pull-right">New</span></a>
                                        <a href="javascript:void(0)" class="list-group-item withripple"><i
                                                class="zmdi zmdi-city"></i>Porta ac consectetur ac <span
                                                class="badge badge-warning pull-right">Two words</span></a>
                                        <a href="javascript:void(0)" class="list-group-item withripple"><i
                                                class="zmdi zmdi-chart"></i>Vestibulum at eros <span
                                                class="badge badge-success pull-right">Success</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="ms-timeline-item wow materialUp"
                                style="visibility: visible; animation-name: materialUp;">
                                <div class="ms-timeline-date">
                                    <time class="timeline-time" datetime="">2015 <span>October</span></time>
                                    <i class="ms-timeline-point bg-success"></i>
                                </div>
                                <div class="card card-success-inverse">
                                    <div class="card-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Necessitatibus officiis autem magni et, nisi eveniet nulla magnam tenetur
                                        voluptatem dolore, assumenda delectus error porro animi architecto dolorum quod
                                        veniam nesciunt.
                                    </div>
                                </div>
                            </li>
                            <li class="ms-timeline-item wow materialUp"
                                style="visibility: visible; animation-name: materialUp;">
                                <div class="ms-timeline-date">
                                    <time class="timeline-time" datetime="">2015 <span>February</span></time>
                                    <i class="ms-timeline-point bg-warning"></i>
                                    <img src="assets/img/demo/avatar2.jpg" class="ms-timeline-point-img">
                                </div>
                                <div class="card card-warning">
                                    <div class="card-header">
                                        <h3 class="card-title">Card Title</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, nulla
                                            recusandae blanditiis architecto soluta culpa obcaecati quis earum atque
                                            consequuntur.</p>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="assets/img/demo/office2.jpg" alt="" class="img-fluid">
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="assets/img/demo/office3.jpg" alt="" class="img-fluid">
                                            </div>
                                            <div class="col-sm-4">
                                                <img src="assets/img/demo/office4.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <br>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ipsum
                                            voluptates eius placeat dolorum reprehenderit ducimus accusamus magni
                                            aspernatur at dolore assumenda quae suscipit enim veritatis obcaecati
                                            molestias laudantium maxime!</p>
                                    </div>
                                </div>
                            </li>
                            <li class="ms-timeline-item wow materialUp"
                                style="visibility: hidden; animation-name: none;">
                                <div class="ms-timeline-date">
                                    <time class="timeline-time" datetime="">2014 <span>July</span></time>
                                    <i class="ms-timeline-point"></i>
                                </div>
                                <div class="card">
                                    <blockquote class="blockquote blockquote-color-bg-primary withripple color-white">
                                        <p><strong>Blockquote in timeline!</strong> consectetur adipiscing elit. Integer
                                            sodales sagittis magna. consectetur adipiscing elit sed consequat, quam
                                            semper libero.</p>
                                        <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                                        </footer>
                                    </blockquote>
                                </div>
                            </li>
                            <li class="ms-timeline-item wow materialUp"
                                style="visibility: hidden; animation-name: none;">
                                <div class="ms-timeline-date">
                                    <time class="timeline-time" datetime="">2014 <span>January</span></time>
                                    <i class="ms-timeline-point bg-info"></i>
                                    <img src="assets/img/demo/avatar3.jpg" class="ms-timeline-point-img">
                                </div>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Card Title</h3>
                                    </div>
                                    <div tabindex="0"
                                         class="plyr plyr--full-ui plyr--video plyr--youtube plyr--fullscreen-enabled plyr--paused plyr--stopped plyr__poster-enabled">
                                        <div class="plyr__controls">
                                            <button class="plyr__controls__item plyr__control" type="button"
                                                    data-plyr="play" aria-label="Play, Landscapes: Volume 4K (UHD)">
                                                <svg class="icon--pressed" role="presentation" focusable="false">
                                                    <use xlink:href="#plyr-pause"></use>
                                                </svg>
                                                <svg class="icon--not-pressed" role="presentation" focusable="false">
                                                    <use xlink:href="#plyr-play"></use>
                                                </svg>
                                                <span class="label--pressed plyr__sr-only">Pause</span><span
                                                    class="label--not-pressed plyr__sr-only">Play</span></button>
                                            <div class="plyr__controls__item plyr__progress__container">
                                                <div class="plyr__progress"><input data-plyr="seek" type="range" min="0"
                                                                                   max="100" step="0.01" value="0"
                                                                                   autocomplete="off" role="slider"
                                                                                   aria-label="Seek" aria-valuemin="0"
                                                                                   aria-valuemax="100" aria-valuenow="0"
                                                                                   id="plyr-seek-2612"
                                                                                   style="--value: 0%;">
                                                    <progress class="plyr__progress__buffer" min="0" max="100" value="0"
                                                              role="progressbar" aria-hidden="true">% buffered
                                                    </progress>
                                                    <span class="plyr__tooltip">00:00</span></div>
                                            </div>
                                            <div class="plyr__controls__item plyr__time--current plyr__time"
                                                 aria-label="Current time">-04:18
                                            </div>
                                            <div class="plyr__controls__item plyr__volume">
                                                <button type="button" class="plyr__control" data-plyr="mute">
                                                    <svg class="icon--pressed" role="presentation" focusable="false">
                                                        <use xlink:href="#plyr-muted"></use>
                                                    </svg>
                                                    <svg class="icon--not-pressed" role="presentation"
                                                         focusable="false">
                                                        <use xlink:href="#plyr-volume"></use>
                                                    </svg>
                                                    <span class="label--pressed plyr__sr-only">Unmute</span><span
                                                        class="label--not-pressed plyr__sr-only">Mute</span></button>
                                                <input data-plyr="volume" type="range" min="0" max="1" step="0.05"
                                                       value="1" autocomplete="off" role="slider" aria-label="Volume"
                                                       aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"
                                                       id="plyr-volume-2612" style="--value: 100%;"
                                                       aria-valuetext="100.0%"></div>
                                            <button class="plyr__controls__item plyr__control" type="button"
                                                    data-plyr="captions">
                                                <svg class="icon--pressed" role="presentation" focusable="false">
                                                    <use xlink:href="#plyr-captions-on"></use>
                                                </svg>
                                                <svg class="icon--not-pressed" role="presentation" focusable="false">
                                                    <use xlink:href="#plyr-captions-off"></use>
                                                </svg>
                                                <span class="label--pressed plyr__sr-only">Disable captions</span><span
                                                    class="label--not-pressed plyr__sr-only">Enable captions</span>
                                            </button>
                                            <div class="plyr__controls__item plyr__menu">
                                                <button aria-haspopup="true" aria-controls="plyr-settings-2612"
                                                        aria-expanded="false" type="button" class="plyr__control"
                                                        data-plyr="settings">
                                                    <svg role="presentation" focusable="false">
                                                        <use xlink:href="#plyr-settings"></use>
                                                    </svg>
                                                    <span class="plyr__sr-only">Settings</span></button>
                                                <div class="plyr__menu__container" id="plyr-settings-2612" hidden="">
                                                    <div>
                                                        <div id="plyr-settings-2612-home">
                                                            <div role="menu">
                                                                <button data-plyr="settings" type="button"
                                                                        class="plyr__control plyr__control--forward"
                                                                        role="menuitem" aria-haspopup="true" hidden="">
                                                                    <span>Captions<span class="plyr__menu__value">Disabled</span></span>
                                                                </button>
                                                                <button data-plyr="settings" type="button"
                                                                        class="plyr__control plyr__control--forward"
                                                                        role="menuitem" aria-haspopup="true" hidden="">
                                                                    <span>Quality<span class="plyr__menu__value">undefined</span></span>
                                                                </button>
                                                                <button data-plyr="settings" type="button"
                                                                        class="plyr__control plyr__control--forward"
                                                                        role="menuitem" aria-haspopup="true"><span>Speed<span
                                                                        class="plyr__menu__value">Normal</span></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div id="plyr-settings-2612-captions" hidden="">
                                                            <button type="button"
                                                                    class="plyr__control plyr__control--back"><span
                                                                    aria-hidden="true">Captions</span><span
                                                                    class="plyr__sr-only">Go back to previous menu</span>
                                                            </button>
                                                            <div role="menu"></div>
                                                        </div>
                                                        <div id="plyr-settings-2612-quality" hidden="">
                                                            <button type="button"
                                                                    class="plyr__control plyr__control--back"><span
                                                                    aria-hidden="true">Quality</span><span
                                                                    class="plyr__sr-only">Go back to previous menu</span>
                                                            </button>
                                                            <div role="menu"></div>
                                                        </div>
                                                        <div id="plyr-settings-2612-speed" hidden="">
                                                            <button type="button"
                                                                    class="plyr__control plyr__control--back"><span
                                                                    aria-hidden="true">Speed</span><span
                                                                    class="plyr__sr-only">Go back to previous menu</span>
                                                            </button>
                                                            <div role="menu">
                                                                <button data-plyr="speed" type="button"
                                                                        role="menuitemradio" class="plyr__control"
                                                                        aria-checked="false" value="0.5">
                                                                    <span>0.5×</span></button>
                                                                <button data-plyr="speed" type="button"
                                                                        role="menuitemradio" class="plyr__control"
                                                                        aria-checked="false" value="0.75">
                                                                    <span>0.75×</span></button>
                                                                <button data-plyr="speed" type="button"
                                                                        role="menuitemradio" class="plyr__control"
                                                                        aria-checked="true" value="1">
                                                                    <span>Normal</span></button>
                                                                <button data-plyr="speed" type="button"
                                                                        role="menuitemradio" class="plyr__control"
                                                                        aria-checked="false" value="1.25">
                                                                    <span>1.25×</span></button>
                                                                <button data-plyr="speed" type="button"
                                                                        role="menuitemradio" class="plyr__control"
                                                                        aria-checked="false" value="1.5">
                                                                    <span>1.5×</span></button>
                                                                <button data-plyr="speed" type="button"
                                                                        role="menuitemradio" class="plyr__control"
                                                                        aria-checked="false" value="1.75">
                                                                    <span>1.75×</span></button>
                                                                <button data-plyr="speed" type="button"
                                                                        role="menuitemradio" class="plyr__control"
                                                                        aria-checked="false" value="2"><span>2×</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="plyr__controls__item plyr__control" type="button"
                                                    data-plyr="fullscreen">
                                                <svg class="icon--pressed" role="presentation" focusable="false">
                                                    <use xlink:href="#plyr-exit-fullscreen"></use>
                                                </svg>
                                                <svg class="icon--not-pressed" role="presentation" focusable="false">
                                                    <use xlink:href="#plyr-enter-fullscreen"></use>
                                                </svg>
                                                <span class="label--pressed plyr__sr-only">Exit fullscreen</span><span
                                                    class="label--not-pressed plyr__sr-only">Enter fullscreen</span>
                                            </button>
                                        </div>
                                        <div class="plyr__video-wrapper plyr__video-embed"
                                             style="padding-bottom: 56.5%;">
                                            <iframe id="youtube-2915" allowfullscreen="1"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                    title="Player for Landscapes: Volume 4K (UHD)"
                                                    src="https://www.youtube.com/embed/9ZfN87gSjvI?autoplay=0&amp;controls=0&amp;disablekb=1&amp;playsinline=1&amp;cc_load_policy=0&amp;cc_lang_pref=auto&amp;widget_referrer=file%3A%2F%2F%2FD%3A%2FProgramming%2FWebsite%2520Themes%2FBootstrap%2FPurchased%2FMaterial%2520Style%2Fmaterial-style-2.5.2%2FHTML%2Fheader-dark-navbar-dark%2Fpage-profile2.html&amp;noCookie=false&amp;rel=0&amp;showinfo=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;enablejsapi=1&amp;widgetid=1"
                                                    width="640" height="360" frameborder="0"></iframe>
                                            <div class="plyr__poster"
                                                 style="background-image: url(&quot;https://i.ytimg.com/vi/9ZfN87gSjvI/maxresdefault.jpg&quot;);"></div>
                                        </div>
                                        <button type="button" class="plyr__control plyr__control--overlaid"
                                                data-plyr="play" aria-label="Play, Landscapes: Volume 4K (UHD)">
                                            <svg role="presentation" focusable="false">
                                                <use xlink:href="#plyr-play"></use>
                                            </svg>
                                            <span class="plyr__sr-only">Play</span></button>
                                    </div>
                                </div>
                            </li>
                            <li class="ms-timeline-item wow materialUp"
                                style="visibility: hidden; animation-name: none;">
                                <div class="ms-timeline-date">
                                    <time class="timeline-time" datetime="">2013 <span>June</span></time>
                                    <i class="ms-timeline-point"></i>
                                </div>
                                <div class="card">
                                    <div class="ms-hero-bg-primary ms-hero-img-coffee">
                                        <h3 class="color-white index-1 text-center no-m pt-4">Victoria Smith</h3>
                                        <div class="color-medium index-1 text-center np-m">@vic_smith</div>
                                        <img src="assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                                    </div>
                                    <div class="card-body pt-4 text-center">
                                        <h3 class="color-primary">Bio</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis,
                                            natuse inse voluptates officia repudiandae beatae magni es magnam autem
                                            molestias.</p>
                                        <a href="javascript:void(0)"
                                           class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i
                                                class="zmdi zmdi-facebook"></i></a>
                                        <a href="javascript:void(0)"
                                           class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i
                                                class="zmdi zmdi-twitter"></i></a>
                                        <a href="javascript:void(0)"
                                           class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i
                                                class="zmdi zmdi-instagram"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}